### Data Preparation

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = './data'
file_name = 'cleaned_Dataset.xlsx'
df_prepared = pd.DataFrame()
df = pd.read_excel(f'{data_path}/{file_name}')
df.head()

,Tipo de Red,Estudiante de Tecnología,Nivel de Educación,Vive en Ciudad,Tipo de Instituto,Edad,Dispositivo,Tipo de Internet,Situación Financiera,Género,Duración de la Clase,Nivel de Adaptación
0,3G,Si,Universidad,Si,Privado,21-25,Computadora,Wifi,Media,Masculino,3-6,Bajo
1,3G,No,Escuela,Si,Privado,11-15,Smartphone,Compra Megas,Media,Femenino,1-3,Moderado
2,3G,Si,Universidad,Si,Privado,21-25,Smartphone,Compra Megas,Mala,Masculino,1-3,Bajo
3,3G,Si,Escuela,Si,Privado,11-15,Smartphone,Compra Megas,Media,Masculino,1-3,Moderado
4,4G,Si,Universidad,Si,Privado,21-25,Computadora,Wifi,Buena,Masculino,1-3,Alto

In [3]:
df['Edad']

0      21-25
1      11-15
2      21-25
3      11-15
4      21-25
       ...
959    21-25
960    11-15
961    21-25
962    21-25
963      1-5
Name: Edad, Length: 964, dtype: object

In [4]:
def one_hot_encoding(column_name,column_prefix,df_prepared,df_original):
    df_coding =  pd.get_dummies(df_original[column_name], prefix=column_prefix)
    df_prepared = pd.concat([df_prepared,df_coding],axis=1)
    return df_prepared

In [5]:
columns_to_one_hot = ['Tipo de Red', 
'Nivel de Educación',
'Tipo de Instituto', 
'Edad', 
'Dispositivo',
'Tipo de Internet', 
'Situación Financiera', 
'Género',
'Duración de la Clase', 
'Nivel de Adaptación']

In [ ]:
not_categoricals = []
for column in df.columns:
    if column not in columns_to_one_hot:
        not_categoricals.append(column)
print(not_categoricals)

In [ ]:
for column in not_categoricals:
    df_prepared[column] = df[column]
    df_prepared[column].loc[df_prepared[column]=="Si"] = 1 # == 'Si']
    df_prepared[column].loc[df_prepared[column]=="No"] = 0 # == 'Si']

In [6]:
for column_name in columns_to_one_hot:
    df_prepared = one_hot_encoding(column_name,column_name,df_prepared,df)

In [7]:
df_prepared

,Tipo de Red_2G,Tipo de Red_3G,Tipo de Red_4G,Nivel de Educación_Colegio,Nivel de Educación_Escuela,Nivel de Educación_Universidad,Tipo de Instituto_Privado,Tipo de Instituto_Público,Edad_1-5,Edad_11-15,...,Situación Financiera_Mala,Situación Financiera_Media,Género_Femenino,Género_Masculino,Duración de la Clase_0,Duración de la Clase_1-3,Duración de la Clase_3-6,Nivel de Adaptación_Alto,Nivel de Adaptación_Bajo,Nivel de Adaptación_Moderado
0,0,1,0,0,0,1,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
1,0,1,0,0,1,0,1,0,0,1,...,0,1,1,0,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,...,1,0,0,1,0,1,0,0,1,0
3,0,1,0,0,1,0,1,0,0,1,...,0,1,0,1,0,1,0,0,0,1
4,0,0,1,0,0,1,1,0,0,0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959,0,1,0,0,0,1,1,0,0,0,...,0,1,0,1,0,1,0,0,0,1
960,0,1,0,0,1,0,1,0,0,1,...,0,1,1,0,0,1,0,0,0,1
961,0,0,1,0,0,1,0,1,0,0,...,0,1,0,1,1,0,0,0,1,0
962,0,1,0,0,0,1,1,0,0,0,...,0,1,0,1,0,1,0,0,0,1
963,0,0,1,0,1,0,1,0,1,0,...,0,1,1,0,0,1,0,0,0,1

In [10]:
df_prepared.head(10)

,Tipo de Red_2G,Tipo de Red_3G,Tipo de Red_4G,Nivel de Educación_Colegio,Nivel de Educación_Escuela,Nivel de Educación_Universidad,Tipo de Instituto_Privado,Tipo de Instituto_Público,Edad_1-5,Edad_11-15,...,Género_Femenino,Género_Masculino,Duración de la Clase_0,Duración de la Clase_1-3,Duración de la Clase_3-6,Nivel de Adaptación_Alto,Nivel de Adaptación_Bajo,Nivel de Adaptación_Moderado,Estudiante de Tecnología,Vive en Ciudad
0,0,1,0,0,0,1,1,0,0,0,...,0,1,0,0,1,0,1,0,1,1
1,0,1,0,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,1,0,1
2,0,1,0,0,0,1,1,0,0,0,...,0,1,0,1,0,0,1,0,1,1
3,0,1,0,0,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,1,1
4,0,0,1,0,0,1,1,0,0,0,...,0,1,0,1,0,1,0,0,1,1
5,0,1,0,0,1,0,0,1,0,1,...,0,1,1,0,0,0,1,0,0,0
6,0,0,1,0,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,1,1
7,0,1,0,0,1,0,1,0,0,1,...,0,1,0,1,0,0,0,1,0,1
8,0,0,1,0,0,1,1,0,0,0,...,0,1,0,1,0,1,0,0,0,1
9,0,0,1,0,1,0,0,1,0,0,...,0,1,0,1,0,0,0,1,0,1

In [11]:
out_file_name = 'data_set_prepared.csv'
df_prepared.to_csv(f'{data_path}/{out_file_name}')